<html>
<head>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>	
  
<title>Kay-Blog</title>

</head>

<body>

<div>
    <div class="navbar">
    <div class="navbar-inner">
    <div class="container">
    <ul class="nav">
    <li class="active">
    <a href="#">Home</a></li>
    <li><a href="#">About Me</a></li>
    <li><a href="#">Gallery</a></li>
    <li><input type="text" class="input-medium search-query"></li>
    <li><button type="submit" class="btn">Search</button></li>
    </ul>
    </div>
    </div>
    </div>
</div>

    

<div id="content" class="container">     
{% block content %}


{% endblock %}
<!--Body content-->


                

</div>

</body>
</html>
