<html>
<head><title>Post Detail</title></head>
<body>
{%extends 'blog/base.html'%}


{% block content %}


<p>Posts:{{posts.post_title}}</p>



{% for comm in comment %}
<ul>
<li>Comment Author:{{comm.comment_author}}</li>
<li>Comment:{{comm.comment_body}}</li>
<div>
<a href="/blog/posts/edit_comment/{{ comm.id }}/edit">Edit Comment</a>
</div>

</ul>
{% endfor %}

<h3>New Comment:</h3>
<div>
	<form method="post" action="">
	{{ form.as_p }}
	<input type="Submit" name="Submit">	
	</form>
</div>

{% endblock %}
</body>
</html>
